<p id="notice"><%= notice %></p>

<h1>Link Input Pages</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @link_input_pages.each do |link_input_page| %>
      <tr>
        <td><%= link_to 'Show', link_input_page %></td>
        <td><%= link_to 'Edit', edit_link_input_page_path(link_input_page) %></td>
        <td><%= link_to 'Destroy', link_input_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link Input Page', new_link_input_page_path %>
